html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, #1c2d45cc, #1d2d44cc),
    url('./city.jpg');
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .btn {
    background: #ffc868;
    border-color: #ffc868;
    color: #000000;
  }
  .btn:hover {
    background-color: #0b2646;
    border-color: #0b2646;
  }
  .btn:active {
    background-color: #0b2646;
    border-color: #0b2646;
  }
  .btn:focus {
    background-color: #0b2646;
    border-color: #0b2646;
    box-shadow: 0 0 0 0.25rem #8da9c4;
  }
  .badge {
    background-color: #134074 !important;
    border-color: #134074 !important;
  }

  .form {
    &-group {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      align-content: flex-end;
    }

    &-label {
      font-weight: bold;
      margin-right: 2rem;
    }
  }
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #121a2b;
}
body::-webkit-scrollbar {
  display: none;
  width: 12px;
  background-color: #121a2b;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  &-title {
    position: relative;
    top: 10vh;
    height: 70vh;

    font-family: 'Bubblegum Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 7.4375rem;
    line-height: 9.625rem;
    /* identical to box height, or 129% */

    letter-spacing: -0.015em;
    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff;
    align-self: center;
  }

  &-buttons {
    position: relative;
    height: 25vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;

    &-style {
      display: flex;
      justify-content: center;
      align-items: center;

      min-width: fit-content;
      height: 3.125rem;
      padding: 10px;

      background: #dde0e3;
      box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.3);
      border-radius: 0.8125rem;
      color: #0b2646;

      cursor: pointer;

      font-family: 'Lato';
      font-style: normal;
      font-weight: 800;
      font-size: 0.8rem;
      line-height: 1.4375rem;
      /* identical to box height, or 142% */

      text-align: center;
      letter-spacing: 0.0781rem;
      text-transform: uppercase;
    }

    &-style:hover {
      background: #0b2646;
      color: #ffffff !important;
    }
  }

  &-2 {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

    .Loading {
      height: 30vh;
      width: auto;
    }
  }
}
